In [157]:
import pandas as pd

In [158]:
df_column = pd.read_csv('merge_column.csv')
df_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12105 entries, 0 to 12104
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   List1   12066 non-null  object
 1   List2   9205 non-null   object
 2   List3   8934 non-null   object
 3   List4   11501 non-null  object
 4   List6   7732 non-null   object
 5   List7   8876 non-null   object
 6   List8   4286 non-null   object
dtypes: object(7)
memory usage: 662.1+ KB

In [159]:
df_column = df_column.drop_duplicates()
df_column.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1594 entries, 0 to 12104
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   List1   1557 non-null   object
 1   List2   900 non-null    object
 2   List3   747 non-null    object
 3   List4   1327 non-null   object
 4   List6   459 non-null    object
 5   List7   706 non-null    object
 6   List8   157 non-null    object
dtypes: object(7)
memory usage: 99.6+ KB

In [185]:
df_list1_df_column = df_column["List1"].str.split(":", expand=True)
df_list1_df_column[1].value_counts()

1
car          1533
small bus      11
large bus       7
truck           6
Name: count, dtype: int64

In [179]:
df_list2_df_column = df_column["List2"].str.split(":", expand=True)
df_list2_df_column[1].value_counts()

1
car          873
truck         24
large bus      3
Name: count, dtype: int64

In [163]:
df_list3_df_column = df_column["List3"].str.split(":", expand=True)
df_list3_df_column[1].value_counts()

1
car          713
truck         27
large bus      7
Name: count, dtype: int64

In [164]:
df_list4_df_column = df_column["List4"].str.split(":", expand=True)
df_list4_df_column[1].value_counts()

1
car    1327
Name: count, dtype: int64

In [165]:
df_list6_df_column = df_column["List6"].str.split(":", expand=True)
df_list6_df_column[1].value_counts()

1
car           439
large bus      13
motorcycle      5
truck           2
Name: count, dtype: int64

In [166]:
df_list7_df_column = df_column["List7"].str.split(":", expand=True)
df_list7_df_column[1].value_counts()

1
car           700
motorcycle      6
Name: count, dtype: int64

In [167]:
df_list8_df_column = df_column["List8"].str.split(":", expand=True)
df_list8_df_column[1].value_counts()

1
car           154
motorcycle      2
truck           1
Name: count, dtype: int64

In [181]:
df_row = pd.read_csv('merge_row.csv')
df_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16828 entries, 0 to 16827
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   List0   1630 non-null   object
 1   List1   8241 non-null   object
 2   List2   13270 non-null  object
 3   List3   15891 non-null  object
 4   List4   15574 non-null  object
 5   List5   16000 non-null  object
 6   List6   11753 non-null  object
 7   List7   15093 non-null  object
 8   List8   14054 non-null  object
 9   List9   13589 non-null  object
 10  List10  6397 non-null   object
 11  List11  1856 non-null   object
dtypes: object(12)
memory usage: 1.5+ MB

In [182]:
df_row = df_row.drop_duplicates()
df_row.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2982 entries, 0 to 16446
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   List0   77 non-null     object
 1   List1   580 non-null    object
 2   List2   1254 non-null   object
 3   List3   2582 non-null   object
 4   List4   2380 non-null   object
 5   List5   2596 non-null   object
 6   List6   1126 non-null   object
 7   List7   2206 non-null   object
 8   List8   1721 non-null   object
 9   List9   1392 non-null   object
 10  List10  341 non-null    object
 11  List11  97 non-null     object
dtypes: object(12)
memory usage: 302.9+ KB

In [183]:
df_list0_df_row = df_row["List0"].str.split(":", expand=True)
df_list0_df_row[1].value_counts()

1
car          70
large bus     5
truck         2
Name: count, dtype: int64

In [184]:
df_list1_df_row = df_row["List1"].str.split(":", expand=True)
df_list1_df_row[1].value_counts()

1
car           476
large bus      77
truck          25
motorcycle      2
Name: count, dtype: int64

In [169]:
df_list2_df_row = df_row["List2"].str.split(":", expand=True)
df_list2_df_row[1].value_counts()

1
car           1183
truck           41
large bus       22
motorcycle       8
Name: count, dtype: int64

In [170]:

df_list3_df_row = df_row["List3"].str.split(":", expand=True)
df_list3_df_row[1].value_counts()

1
car      2430
truck     152
Name: count, dtype: int64

In [171]:

df_list4_df_row = df_row["List4"].str.split(":", expand=True)
df_list4_df_row[1].value_counts()

1
car           2278
truck          101
motorcycle       1
Name: count, dtype: int64

In [172]:
df_list5_df_row = df_row["List5"].str.split(":", expand=True)
df_list5_df_row[1].value_counts()

1
car      2500
truck      96
Name: count, dtype: int64

In [173]:
df_list6_df_row = df_row["List6"].str.split(":", expand=True)
df_list6_df_row[1].value_counts()

1
car           1018
motorcycle      55
truck           53
Name: count, dtype: int64

In [174]:
df_list7_df_row = df_row["List7"].str.split(":", expand=True)
df_list7_df_row[1].value_counts()

1
car           1973
truck          152
motorcycle      74
large bus        7
Name: count, dtype: int64

In [175]:
df_list8_df_row = df_row["List8"].str.split(":", expand=True)
df_list8_df_row[1].value_counts()

1
car           1602
truck           85
large bus       21
motorcycle      13
Name: count, dtype: int64

In [176]:
df_list9_df_row = df_row["List9"].str.split(":", expand=True)
df_list9_df_row[1].value_counts()

1
car           1202
truck          121
large bus       49
motorcycle      20
Name: count, dtype: int64

In [177]:
df_list10_df_row = df_row["List10"].str.split(":", expand=True)
df_list10_df_row[1].value_counts()

1
car           270
pedestrian     29
truck          27
large bus      15
Name: count, dtype: int64

In [178]:
df_list11_df_row = df_row["List11"].str.split(":", expand=True)
df_list11_df_row[1].value_counts()

1
car    97
Name: count, dtype: int64